<!DOCTYPE html>
<html>
<head>
	<title>insert new criminal</title>
</head>
<body>
	<h1>please insert data</h1>
	<form action="/add" method="POST">
		<label for="id">ID:</label>
		<input type="text" id="id" name="id"><br><br>
		<label for="first_name">First Name:</label>
		<input type="text" id="first_name" name="first_name"><br><br>
		<label for="last_name">Last Name:</label>
		<input type="text" id="last_name" name="last_name"><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>